.theme-2 {
  --bg-clr: #111b20;
  --main-heading: #f2f2f2;
  --text-color-btn: #f4f4f4;
  --paragraph-tag: rgb(201, 201, 201);
  --table-color: rgb(212, 212, 212);
}

.theme-1{
  --bg-clr: #fff;
  --text-color-btn: #333;
}

h1, h2, h3{
    color: var(--main-heading);
}

p{
  color: var(--paragraph-tag);
}

table{
  color: var(--table-color);
}

body{
    background-color: var(--bg-clr);
}

.toggle-btn{
    color: var(--text-color-btn);
}